@page "/workflows/marketing/{Id}"
@using Microsoft.Extensions.AI
@inject IMessageHub Hub
@using System.Timers
@rendermode InteractiveServer
@implements IDisposable

<h1>Marketing Workflow</h1>

@if (report == null)
{
    <div class="result-tile">
        <div class="spinner"></div>
    </div>
    <p>Waiting for the workflow to start...</p>
}

@if(report != null)
{
    if (report.Done)
    {
        <iframe width="1920" height="1080" src="/report/@report.Id/@report.ReportId/index.html">
        </iframe>
    }
    <CascadingValue IsFixed="true" Value="report">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ProgressController />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <CritiqueComponent />
                </div>
            </div>
        </div>
    </CascadingValue>
}

@code {
    [Parameter]
    public string Id { get; set; } = string.Empty;

    private bool requested = false;

    private Timer? timer;
    private MarketReport? report = null;
    private Action? unsub;

    protected override void OnParametersSet()
    {
        if (requested || string.IsNullOrWhiteSpace(Id))
        {
            return;
        }

        requested = true;

        InvokeAsync(() => Hub.Publish<WorkflowRequested<string>>(new(nameof(MarketingWorkflow), Id)));

        timer = new Timer(200.0);
        timer.AutoReset = false;
        timer.Elapsed += Subscribe;
        timer.Enabled = true;
    }

    public void Subscribe(object? sender, ElapsedEventArgs args)
    {
        var unsub1 = Hub.Subscribe<ReportUpdate>(OnReportUpdate);
        var unsub2 = Hub.Subscribe<ReportFinished>(OnReportFinished);
        var unsub3 = Hub.Subscribe<MarketReport>(OnMarketReport);
        unsub = () => { unsub1(); unsub2(); unsub3(); unsub = null; };
        timer?.Dispose();
        timer = null;
    }

    public void Think(object? sender, ElapsedEventArgs args) =>
        InvokeAsync(StateHasChanged);

    private void OnMarketReport(MarketReport r)
    {
        if (r.Id == Id)
        {
            InvokeAsync(() =>
            {
                report = r;
                StateHasChanged();
            });
        }
    }
    private void OnReportUpdate(ReportUpdate r) => OnMarketReport(r.Report);

    private void OnReportFinished(ReportFinished r)
    {
        if (r.Id == Id)
        {
            if (unsub is not null)
            {
                unsub();
            }
            OnMarketReport(r.Report);
        }
    }

    public void Dispose()
    {
        if (timer != null)
        {
            try
            {
                timer.Dispose();
                timer = null;
            }
            catch { }
        }

        if (unsub is not null)
        {
            var action = unsub;
            action();   
        }
    }
}